<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyStore</title>
    <link href="../static/css/Layout.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
        <div class="container top__container">
            <div class="top">
                <a href="./index" class="index">main page</a>
                <div class="header">
                    <h1 class="main__heading">MyStore</h1>
                </div>
            </div>
        </div>
        <div class="container center__container">
            <div class="main__content">
                <h2 class="heading">Add new Product</h2>
                <form class="add__form" th:action="@{/add?form}" th:object="${product}" method="post">
                    <input placeholder="Title" class="text__field" type="text" th:field="*{title}" />
                    <br>
                    <input placeholder="Cost" class="text__field" type="text" th:field="*{cost}" />
                    <br>
                    <button class="add__button" type="submit">Add</button>
                </form>
            </div>
        </div>
    </div>

</body>

</html>