<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MyStore</title>
	<link href="../static/css/Layout.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
	<div class="container center__container">
		<div class="main__content">
			<div class="card">
				<div class="card__item">
					<h3 class="title"th:text="${title}"> </h3>
					<h5 class="id" th:text="${id}"></h5>
				</div>
				<div class="card__image"><img src="" alt="img"></div>
				<p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum,consequatur!
				</p>
				<h2 class="cost" th:text="${cost}"></h2>
				<input type="button" value="delete">
			</div>

		</div>
	</div>
</body>

</html>