<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyStore</title>
    <link href="../static/css/Layout.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
        <div class="container top__container">
            <a href="./index" class="index">main page</a>
            <div class="top">
                <div class="header">
                    <h1 class="main__heading">MyStore</h1>
                </div>
            </div>
        </div>
        <div class="container center__container">
            <div class="main__content">
                <h2 class="heading">Products:</h2>
                <div th:utext=${cards} class="card__box"></div>
            </div>
        </div>
    </div>
    <div class="container botom__container">
        <div class="botom__box">
            <div class="botom__info"></div>
            <div class="footer">Всем привет</div>
        </div>
    </div>





</body>

</html>